html {
  font-family: Lora, serif;
  background-color: #588477;
}

.masthead {
  border-bottom: solid 3px #2d5a4d;
  border-top: solid 3px #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
  background-size: auto 32px;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border: solid 3px #2d5a4d;
  border-radius: 8px;
}

.nav a:hover {
  color: #145b1d;
  background-color: #fff;
}

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.banner-content {
  color: #fff;
  padding-top: 18.8em;
  background: url("../images/two-leaves.svg");
  background-position: 5% 41%;
  background-repeat: no-repeat;
  background-size: 30%;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
